* {
  padding: 0;
  margin: 0;
}
main {
  width: auto;
  height: auto;
  background: #000;
}
.img-corte {
  height: 920px;
  width: 100%;
  max-height: 80vh;
  background-image: url(../images/home/back-image.png);
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#ajustar-fixed {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  #ajustar-fixed {
    margin-top: 0px;
  }
  #fixar-nav {
    position: static;
  }
  .img-corte {
    height: 920px;
    width: 100%;
    max-height: 70vh;
    background-image: url(../images/home/back-image.png);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
  }
  #ajust-size-slide {
    max-width: 30vh;
  }
}

#ajust-size-slide {
  max-width: 55vh;
}
